name: Build
on:
  push:
    branches:
      - '**'

jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        with:
          version: 9
      - uses: actions/setup-node@v5
        with:
          node-version: 20.x
          cache: 'pnpm'

      - run: pnpm install --frozen-lockfile
      - run: pnpm run build
